@model SlickScheduler.Models.Course
@{
    ViewBag.Title = "AddCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Course</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.ValidationSummary()

        <div class="form-group">  
            @Html.LabelFor(c => c.Name)    
            @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Name, String.Empty, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Subject)
            @Html.TextBoxFor(c => c.Subject, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Subject, String.Empty, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Number)
            @Html.TextBoxFor(c => c.Number, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Number, String.Empty, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.CreditHours)
            @Html.TextBoxFor(c => c.CreditHours, new { @class = "form-control"})
            @Html.ValidationMessageFor(c => c.CreditHours, String.Empty, new { @class = "text-danger"})
        </div>
        <button type="submit" class="btn btn-default" value="AddClass">Submit</button>
    </div>


}


