@model SlickScheduler.Models.User
@{
    ViewBag.Title = "DeleteAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remove @Model.FirstName @Model.LastName from Adminstrator Role</h2>
<p>Would you like to remove @Model.FirstName @Model.LastName from the Admin role?</p>
<a href="@Url.Action("DeleteAdmin", "Admin", new { email = Model.Email, delete = true })" class="btn btn-default">Remove Admin</a>
<a href="@Url.Action("Index", "Admin")" class="btn btn-primary">Cancel</a>
