@model SlickScheduler.Models.Plan
@{
    ViewBag.Title = "EditPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Edit This Plan</h2>
<a href="@Url.Action("ManagePlans")" class="btn btn-block btn-primary">Back</a>
<div class="btn-group btn-group-justified">
    <a href="#SEM 1" class="btn btn-default">Fall @Model.CatalogYear</a>
    @{ var SemYear = Model.CatalogYear + 1; }
    <a href="#SEM 2" class="btn btn-default">Spring @SemYear </a>
    <a href="#SEM 3" class="btn btn-default"> Fall @SemYear</a>
    @{SemYear++;}
    <a href="#SEM 4" class="btn btn-default">Spring @SemYear</a>
</div>
<div class="btn-group btn-group-justified">
    <a href="#SEM 5" class="btn btn-default">Fall @SemYear</a>
    @{SemYear++;}
    <a href="#SEM 6" class="btn btn-default">Spring @SemYear</a>
    <a href="#SEM 7" class="btn btn-default">Fall @SemYear</a>
    @{SemYear++; }
    <a href="#SEM 8" class="btn btn-default">Spring @SemYear</a>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td colspan="4" class="text-center">
                <strong>@Model.Name</strong>  (@Html.ActionLink("Edit Info", "EditPlanInfo", "Admin", new { planId = Model.PlanId }, new { @class = "text-center"}))
                
            </td>
        </tr>
    </thead>
    @{ var year = Model.CatalogYear;
        var orderedSem = Model.Semesters.OrderBy(s => s.SemesterNum);}
    @foreach (var s in orderedSem)
    {
        string semName;
        if (s.SemesterNum % 2 != 0)
        {
            semName = "Fall";
        }
        else
        {
            year++;
            semName = "Spring";
        }
        
        <thead>
            
            <tr>
                <td colspan="4" class="active text-center">
                    <strong style="position:relative;"><a name="SEM @s.SemesterNum" style="position:absolute; top:-75px"></a>@semName @year</strong>
                </td>
            </tr>
        </thead>
        <tr>
            <td class="active">Name</td>
            <td class="active">Course</td>
            <td class="active">Credit</td>
            <td class="active">Remove Course</td>
        </tr>
        foreach(var c in s.Courses)
        {
            <tr>
                <td>@c.Name</td>
                <td>@c.Subject @c.Number</td>
                <td>@c.CreditHours</td>
                <td>@using (Html.BeginForm("RemoveCourseFromSem", "Admin", FormMethod.Post))
                    {
                        <input type="hidden" name="courseId" value="@c.CourseId" />
                        <input type="hidden" name="planId" value="@Model.PlanId" />
                        <input type="hidden" name="semesterId" value="@s.SemesterId" />
                        <button type="submit" class="glyphicon glyphicon-minus-sign btn-link" data-toggle="tooltip" title="Remove course from this plan"></button>
                }</td>
            </tr>
        }
        <tr>
            <td colspan="4">
                <a href=@Url.Action("AddCourseToSem", "Admin", new { semesterId = s.SemesterId, planId = Model.PlanId }) class="btn btn-default btn-block">Add A Course</a>
            </td>
        </tr>
    }
</table>


