@model IEnumerable<SlickScheduler.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var users = ViewBag.Users;
}

<h2>View All Users</h2>

@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <div class="">
        @Html.TextBox("Search", null, new { @class = "form-control col-lg-4", placeholder = "Search" })
        <input type="submit" class="btn btn-default col-lg-1" value="Search" />
    </div>
}


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td colspan="4"><center><strong>Users</strong></center></td>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td class="active"><strong>WNumber</strong></td>
            <td class="active"><strong>Name</strong></td>
            <td class="active"><strong>Email</strong></td>
            <td class="active"><strong>Role</strong></td>
        </tr>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.WNumber</td>
                <td>@u.FirstName @u.LastName</td>
                <td>@u.Email</td>
                @if (u.Student != null)
                {
                    <td>Student</td>
                }
                else if (u.Advisor != null)
                {
                    <td>Advisor</td>
                }
                else
                {
                    <td>User</td>
                }
            </tr>
            }

    </tbody>
</table>
