@model PagedList.IPagedList<SlickScheduler.Models.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var users = ViewBag.Users;
}

<h2>View All Users</h2>

@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <div class="">
        @Html.TextBox("Search", ViewBag.CurrentFilter as string, new { @class = "form-control col-lg-4", placeholder = "Search" })
        <input type="submit" class="btn btn-default col-lg-1" value="Search" />
        <a href=@Url.Action("Index", "Admin") class="btn btn-primary">Reset</a>
    </div>
}


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td colspan="4"><center><strong>Users</strong></center></td>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td class="active"><strong>@Html.ActionLink("WNumber", "Index", new { sortOrder = ViewBag.WNumSort, currentFilter = ViewBag.CurrentFilter })</strong></td>
            <td class="active"><strong>@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })</strong></td>
            <td class="active"><strong>Email</strong></td>
            <td class="active"><strong>Role</strong></td>
        </tr>
        @foreach (var u in Model)
        {
            
            <tr>
                <td>@u.WNumber</td>
                <td>@u.FirstName @u.LastName</td>
                <td>@u.Email</td>
                @if (u.Student != null)
                {
                    <td><a href=@Url.Action("Scheduler", "Home", new { email = u.Email })>Student</a></td>
                }
                else if (u.Advisor != null)
                {
                    <td><a href="@Url.Action("DeleteAdvisor", "Admin", new { email = u.Email, delete = false})">Advisor</a></td>
                }
                else
                {
                    <td><a href=@Url.Action("AddAdvisor", "Admin", new { email = u.Email, add = false })>User</a></td>
                }
            </tr>
            }

    </tbody>
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
