@model  PagedList.IPagedList<SlickScheduler.Models.Course>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ManageCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Courses</h2>

@using (Html.BeginForm("ManageCourses", "Admin", FormMethod.Get))
{
    <div class="">
        @Html.TextBox("Search", ViewBag.CurrentFilter as string, new { @class = "form-control col-lg-4", placeholder = "Search" })
        <input type="submit" class="btn btn-default col-lg-1" value="Search" />
        <a href=@Url.Action("ManageCourses", "Admin") class="btn btn-primary">Reset</a>
    </div>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td colspan="5"><center><strong>Courses</strong></center></td>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td class="active"><strong>@Html.ActionLink("Name", "ManageCourses", new { sortOrder = ViewBag.WNumSort, currentFilter = ViewBag.CurrentFilter })</strong></td>
            <td class="active"><strong>@Html.ActionLink("Course", "ManageCourses", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })</strong></td>
            <td class="active"><strong>Credits</strong></td>
            <td class="active"><strong>Action</strong></td>
        </tr>
        @foreach (var c in Model)
        {

            <tr>
                <td>@c.Name</td>
                <td>@c.Subject @c.Number</td>
                <td>@c.CreditHours</td>
                <td>Actions will go here</td>
            </tr>
        }

    </tbody>
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ManageCourses",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

