@model  PagedList.IPagedList<SlickScheduler.Models.Course>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ManageCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Courses</h2>

@using (Html.BeginForm("ManageCourses", "Admin", FormMethod.Get))
{
    <div>
        @Html.TextBox("Search", ViewBag.CurrentFilter as string, new { @class = "form-control col-lg-4", placeholder = "Search" })
        <input type="submit" class="btn btn-default col-lg-offset-0" value="Search" />
        <a href=@Url.Action("ManageCourses", "Admin") class="btn btn-primary">Reset</a>
        <a href=@Url.Action("AddCourse", "Admin") class="btn btn-success">Add New Course</a>
    </div>
}
@if (Model.PageCount == 0)
{
    <h4>There are no results matching your search!</h4>
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td colspan="5"><center><strong>Courses</strong></center></td>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td class="active" width="40%"><strong>Name
                <a href="@Url.Action("ManageCourses", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })" class="glyphicon @ViewBag.SortIconN btn-link col-lg-offset-10" data-toggle="tooltip" title="Sort by Name" ></a></strong></td>
            <td class="active" width="30%"><strong>Course
                <a href="@Url.Action("ManageCourses", new { sortOrder = ViewBag.SubjSort, currentFilter = ViewBag.CurrentFilter })" class="glyphicon @ViewBag.SortIconS btn-link col-lg-offset-9" data-toggle="tooltip" title="Sort by Subject"></a></strong></td>
            <td class="active" width="15%"><strong>Credits</strong></td>
            <td class="active" width="15%"><strong>Action</strong></td>
        </tr>
        @foreach (var c in Model)
        {

            <tr>
                <td><div data-toggle="tooltip" title="@c.Description">@c.Name</div></td>
                <td>@c.Subject @c.Number</td>
                <td>@c.CreditHours</td>
                <td>
                    <a href="@Url.Action("AddCourseToPlan", new { courseId = c.CourseId})" class="glyphicon glyphicon-plus-sign btn-link text-info" data-toggle="tooltip" title="Add the course to a plan."></a>
                    <a href="@Url.Action("RemoveCourse", new { courseID = c.CourseId })" class="glyphicon glyphicon-trash btn-link text-danger" data-toggle="tooltip" title="Permanently delete this course." onclick="return confirm('Are you sure you want to permanently delete this course?')"></a>
                </td>
            </tr>
        }

    </tbody>
</table>


<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ManageCourses",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

