@model List<SlickScheduler.Models.User>
@{
    ViewBag.Title = "Scheduler";
}

@{
    if (Request.IsAuthenticated)
    {
    <h2>Scheduler</h2>
        //loads current user from controller
        var currentUser = ViewBag.CurrentUser;
        //Checks if user is student
        if (currentUser.Student != null)
        {
            //loads student information for display from HomeController
            var plan = currentUser.Student.Plan;
            var semesters = plan.Semesters;
            var _courses = ViewBag.AllCourses;
            var _cmps = ViewBag.CMPS;
            var _english = ViewBag.English;
            var _science = ViewBag.Science;
            var _math = ViewBag.Math;
            var _elect = ViewBag.Electives;
            var totalHours = 0;
        <body>
            @*Beginning of the curriculum sheet*@
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th><center>Curriculum Sheet - @plan.Name</center></th>
                    </tr>
                </thead>
            </table>
            @*Creates navigational tabs*@
            <ul class="nav nav-tabs">
                <li class="active"><a href="#CMPS" data-toggle="tab" aria-expanded="true">Computer Science</a></li>
                <li class=""><a href="#ENGL" data-toggle="tab" aria-expanded="true">English</a></li>
                <li class=""><a href="#SCIENCE" data-toggle="tab" aria-expanded="true">Science</a></li>
                <li class=""><a href="#MATH" data-toggle="tab" aria-expanded="true">Math</a></li>
                <li class=""><a href="#ELECT" data-toggle="tab" aria-expanded="true">Electives</a></li>
            </ul>
            @*Computer Science Tab*@
            <div id="tabContent" class="tab-content">
                <div id="CMPS" class="tab-pane fade active in">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th width="20%">Course</th>
                            <th width="5%">Credits</th>
                        </tr>
                        @*For each computer science course...*@
                        @foreach (var c in _cmps)
                        {
                            //Tally the number of credit hours
                            totalHours += c.CreditHours;
                            //And create a column displaing the course information and credit hours
                            <tr class="active">
                                <td><strong>@c.Subject @c.Number</strong> @c.Name</td>
                                <td>@c.CreditHours</td>
                            </tr>
                        }
                        @*Display total credit hours*@
                        <tr class="success">
                            <td><strong>Total Hours</strong></td>
                            <td>@totalHours</td>
                        </tr>
                    </table>
                </div>

                @*Set total credit hours to 0 before moving to next tab*@


                @{
                    totalHours = 0;
                }
                <div id="ENGL" class="tab-pane fade">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th width="20%">Course</th>
                            <th width="5%">Credits</th>
                        </tr>
                        @foreach (var c in _english)
                        {
                            totalHours += c.CreditHours;
                            <tr class="active">
                                <td><strong>@c.Subject @c.Number</strong> @c.Name</td>
                                <td>@c.CreditHours</td>
                            </tr>
                        }
                        <tr class="success">
                            <td><strong>Total Hours</strong></td>
                            <td>@totalHours</td>
                        </tr>
                    </table>
                </div>

                @*Same thing for Science*@

                @{
                    totalHours = 0;
                }
                <div id="SCIENCE" class="tab-pane fade">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th width="20%">Course</th>
                            <th width="5%">Credits</th>
                        </tr>
                        @foreach (var c in _science)
                        {
                            totalHours += c.CreditHours;
                            <tr class="active">
                                <td><strong>@c.Subject @c.Number</strong> @c.Name</td>
                                <td>@c.CreditHours</td>
                            </tr>
                        }
                        <tr class="success">
                            <td><strong>Total Hours</strong></td>
                            <td>@totalHours</td>
                        </tr>
                    </table>
                </div>


                @{
                    totalHours = 0;
                }
                <div id="MATH" class="tab-pane fade">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th width="20%">Course</th>
                            <th width="5%">Credits</th>
                        </tr>
                        @foreach (var c in _math)
                    {
                        totalHours += c.CreditHours;
                            <tr class="active">
                                <td><strong>@c.Subject @c.Number</strong> @c.Name</td>
                                <td>@c.CreditHours</td>
                            </tr>
                        }
                        <tr class="success">
                            <td><strong>Total Hours</strong></td>
                            <td>@totalHours</td>
                        </tr>
                    </table>
                </div>

                @{
                    totalHours = 0;
                }
                <div id="ELECT" class="tab-pane fade">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th width="20%">Course</th>
                            <th width="5%">Credits</th>
                        </tr>
                        @foreach (var c in _elect)
                    {
                        totalHours += c.CreditHours;
                            <tr class="active">
                                <td><strong>@c.Subject @c.Number</strong> @c.Name</td>
                                <td>@c.CreditHours</td>
                            </tr>
                        }
                        <tr class="success">
                            <td><strong>Total Hours</strong></td>
                            <td>@totalHours</td>
                        </tr>
                    </table>
                </div>
            </div>
            @* Check to see which courses are in the plan
            @foreach(var s in semesters)
            {
                foreach(var c in s.Courses)
                {
                    <p>@c.CourseId @c.Subject @c.Number @c.Name</p>
                }
            }
            *@





</body>
        }
        else if (currentUser.Advisor != null)
        {
            //Show advisor information
        }
    }
    else
    {
        Response.Redirect(Url.Action("Error401", "Error"));
    }
 }
@*
    <body>

        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th><center>Curriculum Sheet - IT</center></th>
                </tr>
            </thead>
        </table>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#CMPS" data-toggle="tab" aria-expanded="true">Computer Science</a></li>
            <li class=""><a href="#ENGL" data-toggle="tab" aria-expanded="true">English</a></li>
            <li class=""><a href="#SCIENCE" data-toggle="tab" aria-expanded="true">Science</a></li>
            <li class=""><a href="#MATH" data-toggle="tab" aria-expanded="true">Math</a></li>
            <li class=""><a href="#ELECT" data-toggle="tab" aria-expanded="true">Electives</a></li>
        </ul>

        <div id="tabContent" class="tab-content">
            <div id="ENGL" class="tab-pane fade">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td><strong>ENGL 101</strong> Freshman Composition</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>ENGL 102</strong> Critical Reading and Writing</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>ENGL 230, 231, OR 232</strong></td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>ENGL 322</strong> Intro to Prof and Technical Writing</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td><strong>Total Hours</strong></td>
                        <td>12</td>
                    </tr>
                </table>
            </div>

            <div id="SCIENCE" class="tab-pane fade">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td><strong>GBIO 151</strong></td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>GBIO 152</strong></td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>BIOL 153</strong></td>
                        <td>1</td>
                    </tr>
                    <tr class="active">
                        <td><strong>BIOL 154</strong></td>
                        <td>1</td>
                    </tr>
                    <tr class="active">
                        <td><strong>PHYS 191</strong></td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>PHYS 192</strong></td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>PLAB 193</strong></td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>10</td>
                    </tr>
                </table>
            </div>
            <div id="CMPS" class="tab-pane fade active in">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 161</strong> Algorithm Design & Implementation I</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 257</strong> Discrete Structures</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 280</strong> Algorithm Design & Implementation II</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 285</strong> Software Engineering</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 290</strong> Computer Organization</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 294</strong> Internet Programming</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 315</strong> System Administration</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 329</strong> Computer Networking and Security</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 375</strong> Computer Architecture</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 383</strong> Information Systems</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 390</strong> Data Structures</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 411</strong> Capstone I</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 415</strong> Integrated Technologies for Enterprise Systems</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 420</strong> Human Computer Interaction</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 431</strong> Operating Systems</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 439</strong> Database Systems</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 482</strong> Current Trends in Computer Science</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 394</strong> Web Systems and Technologies</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>CMPS 401</strong> Survey of Programming Languages</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>57</td>
                    </tr>
                </table>
            </div>
            <div id="MATH" class="tab-pane fade">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td><strong>MATH 165</strong> Precalculus with Trigonometry</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td><strong>MATH 241</strong> Elementary Statistics</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>6</td>
                    </tr>
                </table>
            </div>
            <div id="ELECT" class="tab-pane fade">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>21</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><center>4 Year Plan - IT</center></th>
                </tr>
            </thead>
            </table>

            <ul class="nav nav-tabs">
                <li class="active"><a href="#SEM1" data-toggle="tab" aria-expanded="true">Fall 2013</a></li>
                <li class=""><a href="#SEM2" data-toggle="tab" aria-expanded="true">Spring 2014</a></li>
                <li class=""><a href="#SEM3" data-toggle="tab" aria-expanded="true">Fall 2014</a></li>
                <li class=""><a href="#SEM4" data-toggle="tab" aria-expanded="true">Spring 2015</a></li>
                <li class=""><a href="#SEM5" data-toggle="tab" aria-expanded="true">Fall 2015</a></li>
                <li class=""><a href="#SEM6" data-toggle="tab" aria-expanded="true">Spring 2016</a></li>
                <li class=""><a href="#SEM7" data-toggle="tab" aria-expanded="true">Fall 2016</a></li>
                <li class=""><a href="#SEM8" data-toggle="tab" aria-expanded="true">Spring 2017</a></li>
            </ul>
        <div id="tabcontent" class="tab-content">
            <div id="SEM1" class="tab-pane fade active in">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>21</td>
                    </tr>
                </table>
            </div>

            <div id="SEM2" class="tab-pane fade">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>21</td>
                    </tr>
                </table>
            </div>
            <div id="SEM3" class="tab-pane fade">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>21</td>
                    </tr>
                </table>
            </div>
            <div id="SEM4" class="tab-pane fade">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>21</td>
                    </tr>
                </table>
            </div>
            <div id="SEM5" class="tab-pane fade">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>21</td>
                    </tr>
                </table>
            </div>
            <div id="SEM6" class="tab-pane fade">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>21</td>
                    </tr>
                </table>
            </div>
            <div id="SEM7" class="tab-pane fade">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>21</td>
                    </tr>
                </table>
            </div>
            <div id="SEM8" class="tab-pane fade">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th width="20%">Course</th>
                        <th width="5%">Credits</th>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="active">
                        <td>CRS ###</td>
                        <td>3</td>
                    </tr>
                    <tr class="success">
                        <td>Total Hours</td>
                        <td>21</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </body>
*@