@model List<SlickScheduler.Models.User>
@{
    ViewBag.Title = "Scheduler";
}

@{
    if (Request.IsAuthenticated)
    {
    //loads current user from controller
    var user = ViewBag.User;
        <script type="text/javascript" language="Javascript"
                src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.4.1.min.js">
    $(function () {
        $(document).tooltip();
    });
        </script>

    <h2>@user.FirstName's Scheduler</h2>

        //Checks if user is student
        if (user.Student != null)
        {
            //loads student information for display from HomeController
            var plan = user.Student.Plan;
            var semesters = plan.Semesters;
            var _courses = ViewBag.AllCourses;
            var _cmps = ViewBag.CMPSG;
            var _english = ViewBag.EnglishG;
            var _science = ViewBag.ScienceG;
            var _math = ViewBag.MathG;
            var _elect = ViewBag.ElectiveG;
            var totalHours = 0;
            <body>
                @*Beginning of the curriculum sheet*@
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th><center>Curriculum Sheet - @plan.Name</center></th>
                        </tr>
                    </thead>
                </table>
                @*Creates navigational tabs*@
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#CMPS" data-toggle="tab" aria-expanded="true">Computer Science</a></li>
                    <li class=""><a href="#ENGL" data-toggle="tab" aria-expanded="true">English</a></li>
                    <li class=""><a href="#SCIENCE" data-toggle="tab" aria-expanded="true">Science</a></li>
                    <li class=""><a href="#MATH" data-toggle="tab" aria-expanded="true">Math</a></li>
                    <li class=""><a href="#ELECT" data-toggle="tab" aria-expanded="true">Electives</a></li>
                </ul>
                @*Computer Science Tab*@
                <div id="tabContent" class="tab-content">
                    <div id="CMPS" class="tab-pane fade active in">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th width="15%">Course</th>
                                <th width="5%">Grade</th>
                                <th width="5%">Credits</th>
                                
                            </tr>
                            @*For each computer science course...*@
                            @foreach (var g in _cmps)
                            {
                                var c = g.Course;
                                //Tally the number of credit hours
                                totalHours += c.CreditHours;
                                //And create a column displaing the course information and credit hours
                                <tr class="active">
                                    <td><strong>@c.Subject @c.Number</strong> @c.Name</td>
                                    <td><a href=@Url.Action("ChangeGrade","Home", new { GradeId = g.GradeId }) title="Click to modify">@g.LetterGrade</a></td>
                                    <td>@c.CreditHours</td>
                                    
                                </tr>
                            }
                            @*Display total credit hours*@
                            <tr class="success">
                                <td colspan="2"><strong>Total Hours</strong></td>
                                <td>@totalHours</td>
                            </tr>
                        </table>
                    </div>

                    @*Set total credit hours to 0 before moving to next tab*@


                    @{
                        totalHours = 0;
                    }
                    <div id="ENGL" class="tab-pane fade">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th width="15%">Course</th>
                                <th width="5%">Grade</th>
                                <th width="5%">Credits</th>
                                
                            </tr>
                            @foreach (var g in _english)
                            {
                                var c = g.Course;
                                totalHours += c.CreditHours;
                                <tr class="active">
                                    <td><strong>@c.Subject @c.Number</strong> @c.Name</td>
                                    <td><a href=@Url.Action("ChangeGrade","Home", new { GradeId = g.GradeId }) title="Click to modify">@g.LetterGrade</a></td>
                                    <td>@c.CreditHours</td>
                                    
                                </tr>
                            }
                            <tr class="success">
                                <td colspan="2"><strong>Total Hours</strong></td>
                                <td>@totalHours</td>
                            </tr>
                        </table>
                    </div>

                    @*Same thing for Science*@

                    @{
                        totalHours = 0;
                    }
                    <div id="SCIENCE" class="tab-pane fade">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th width="15%">Course</th>
                                <th width="5%">Grade</th>
                                <th width="5%">Credits</th>
                                
                            </tr>
                            @foreach (var g in _science)
                            {
                                var c = g.Course;
                                totalHours += c.CreditHours;
                                <tr class="active">
                                    <td><strong>@c.Subject @c.Number</strong> @c.Name</td>
                                    <td><a href=@Url.Action("ChangeGrade","Home", new { GradeId = g.GradeId }) title="Click to modify">@g.LetterGrade</a></td>
                                    <td>@c.CreditHours</td>
                                    
                                </tr>
                            }
                            <tr class="success">
                                <td colspan="2"><strong>Total Hours</strong></td>
                                <td>@totalHours</td>
                            </tr>
                        </table>
                    </div>


                    @{
                        totalHours = 0;
                    }
                    <div id="MATH" class="tab-pane fade">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th width="15%">Course</th>
                                <th width="5%">Grade</th>
                                <th width="5%">Credits</th>
                                
                            </tr>
                            @foreach (var g in _math)
                            {
                                var c = g.Course;
                                totalHours += c.CreditHours;
                                <tr class="active">
                                    <td><strong>@c.Subject @c.Number</strong> @c.Name</td>
                                    <td><a href=@Url.Action("ChangeGrade","Home", new { GradeId = g.GradeId }) title="Click to modify">@g.LetterGrade</a></td>
                                    <td>@c.CreditHours</td>
                                    
                                </tr>
                            }
                            <tr class="success">
                                <td colspan="2"><strong>Total Hours</strong></td>
                                <td>@totalHours</td>
                            </tr>
                        </table>
                    </div>

                    @{
                        totalHours = 0;
                    }
                    <div id="ELECT" class="tab-pane fade">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th width="15%">Course</th>
                                <th width="5%">Grade</th>
                                <th width="5%">Credits</th>
                                
                            </tr>
                            @foreach (var g in _elect)
                    {
                                var c = g.Course;
                        totalHours += c.CreditHours;
                                <tr class="active">
                                    <td><strong>@c.Subject @c.Number</strong> @c.Name</td>
                                    <td><a href=@Url.Action("ChangeGrade","Home", new { GradeId = g.GradeId }) title="Click to modify">@g.LetterGrade</a></td>
                                    <td>@c.CreditHours</td>
                                    
                                </tr>
                            }
                            <tr class="success">
                                <td colspan="2"><strong>Total Hours</strong></td>
                                <td>@totalHours</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><center>4 Year Plan - @plan.Name</center></th>
                            </tr>
                        </thead>
                    </table>

                    <ul class="nav nav-tabs">
                        @{ var year = plan.CatalogYear; }
                        <li class="active"><a href="#SEM1" data-toggle="tab" aria-expanded="true">Fall @year</a></li>
                        @{ year += 1; }
                        <li class=""><a href="#SEM2" data-toggle="tab" aria-expanded="true">Spring @year</a></li>
                        <li class=""><a href="#SEM3" data-toggle="tab" aria-expanded="true">Fall 2014</a></li>
                        <li class=""><a href="#SEM4" data-toggle="tab" aria-expanded="true">Spring 2015</a></li>
                        <li class=""><a href="#SEM5" data-toggle="tab" aria-expanded="true">Fall 2015</a></li>
                        <li class=""><a href="#SEM6" data-toggle="tab" aria-expanded="true">Spring 2016</a></li>
                        <li class=""><a href="#SEM7" data-toggle="tab" aria-expanded="true">Fall 2016</a></li>
                        <li class=""><a href="#SEM8" data-toggle="tab" aria-expanded="true">Spring 2017</a></li>
                    </ul>
                    <div id="tabcontent" class="tab-content">

                    @foreach (var s in semesters)
                    {
                        var id = ("SEM" + s.SemesterNum);
                        string active;
                        if(id == "SEM1")
                        {
                            active = "active";
                        } else
                        {
                            active = "";
                        }
                        totalHours = 0;
                    <div id="@id" class="tab-pane fade @active in">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th width="20%">Course</th>
                                <th width="5%">Credits</th>
                            </tr>
                            @foreach (var c in s.Courses)
                            {
                                totalHours += c.CreditHours;
                            <tr class="active">
                                <td><strong>@c.Subject @c.Number</strong> @c.Name</td>
                                <td>@c.CreditHours</td>
                            </tr>
                            }
                            @{ 
                                string color = "";
                                if(totalHours > 11)
                                {
                                    if(totalHours > 17)
                                    {
                                        color = "warning";
                                    } else
                                    {
                                        color = "success";
                                    }
                                }
                                else
                                {
                                    color = "danger";
                                }
                            }

                            <tr class="@color">
                                <td><strong>Total Hours</strong></td>
                                <td>@totalHours</td>
                            </tr>

                        </table>
                    </div>
                    }
                    </div>
            </div>




            </body>
                            }
                        }
                        else
                        {
                            Response.Redirect(Url.Action("Error401", "Error"));
                        }
}