@model SlickScheduler.Models.User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Your Password</h2>
@using (Html.BeginForm())
{

    @Html.ValidationSummary(true, "", new { @class = "text-danger" });
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-2">
                    @Html.LabelFor(u => u.Password, new { @class = "control-label" })
                </div>
                <div class="col-lg-10">
                    @Html.PasswordFor(u => u.Password, new { placeholder = "Password", @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Password, String.Empty, new { @class = "text-danger" })
                </div>
            </div>
    <div class="form-group">
        <div class="col-lg-2">
            @Html.Label("New Password")
        </div>
        <div class="col-lg-10">
            @Html.PasswordFor(u => u.Password, new { placeholder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(u => u.Password, String.Empty, new { @class = "text-danger" })
        </div>  
    </div>
    <div class="form-group">
        <div class="col-lg-2">
            @Html.LabelFor(u => u.Password, new { @class = "control-label" })
        </div>
        <div class="col-lg-10">
            @Html.PasswordFor(u => u.Password, new { placeholder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(u => u.Password, String.Empty, new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-lg-2">
        <button type="submit" class="btn btn-default" value="ChangePassword">Submit</button>
    </div>
    </fieldset>
    </form>
}
