@model List<SlickScheduler.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Request.IsAuthenticated)
{
    var currentUser = Model.Single(u => u.Email == HttpContext.Current.User.Identity.Name);
    <h2>@currentUser.FirstName @currentUser.LastName's Profile</h2>
    
    <div class="list-group col-lg-4">
        <div class="list-group-item">
            <h4><strong>Name:</strong></h4><p>@currentUser.FirstName @currentUser.LastName</p>
        </div>
        <div class="list-group-item">
            <h4><strong>W Number:</strong></h4><p>@currentUser.WNumber</p>
        </div>
        <div class="list-group-item">
            <h4><strong>Email:</strong></h4><p>@currentUser.Email</p>
        </div>
    </div>

    if (currentUser.Student == null)
    {
        <div class="col-lg-4 list-group-item">
            <h4><strong>Your Plan</strong></h4>
            <a href=@Url.Action("SelectPlanView", "Users") class="list-group-item-text">Select Your Plan</a> 
        </div>

    }
    else
    {

            <h4><strong>Your Current Plan</strong></h4><p>@currentUser.Student.Plan</p>
    }
}

