@model List<SlickScheduler.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Request.IsAuthenticated)
{
    var currentUser = Model.Single(u => u.Email == HttpContext.Current.User.Identity.Name);
    <h2>@currentUser.FirstName @currentUser.LastName's Profile</h2>
    
    @*<div class="list-group col-lg-4">*@
    <div class="row">
        <div class="col-lg-2 list-group-item">
            <h4><strong>Name:</strong></h4><p>@currentUser.FirstName @currentUser.LastName</p>
        </div>
        <div class="col-lg-2 list-group-item">
            <h4><strong>W Number:</strong></h4><p>@currentUser.WNumber</p>
        </div>
        <div class="col-lg-2 list-group-item">
            <h4><strong>Email:</strong></h4><p>@currentUser.Email</p>
        </div>
        <div class="col-lg-2 list-group-item">
            <h4><strong>Password:</strong></h4><p><a href=@Url.Action("ManagePassword", "Users")>Change Password</a></p>
        </div>
    </div>
    @*</div>*@

    if (currentUser.Student == null && currentUser.Advisor == null)
    {
    <div class="row">
        <div class="col-lg-4 list-group-item">
            <h4><strong>Are You A Student?</strong></h4>
            <a href=@Url.Action("StudentAccount", "Users") class="list-group-item-text">Complete Your Student Account!</a>
        </div>
        <div class="col-lg-4 list-group-item">
            <h4><strong>Are You An Advisor?</strong></h4>
            <a href=@Url.Action("AdvisorAccount", "Users") class="list-group-item-text">Request An Advisor Account!</a>
        </div>
    </div>
}
else if (currentUser.Student != null)
{
    var springYear = (currentUser.Student.Plan.CatalogYear + 1);
    <div class="row">
        <div class="col-lg-2 list-group-item">
            <h4><strong>Concentration:</strong></h4><p>@currentUser.Student.Plan.Concentration</p>
        </div>
        <div class="col-lg-2 list-group-item">
            <h4><strong>Catalogue Year</strong></h4><p>@currentUser.Student.Plan.CatalogYear - @springYear</p>
        </div>
        <div class="col-lg-4 list-group-item">
            <h4><strong>Your Slick Schedule</strong></h4>
            <a href="#" class="list-group-item-text">View Your Plan</a>
        </div>
    </div>
    }
}

